body {
    background-color: lightslategray;
}
#die-generator {
    margin-top: 10px;
}
.navbar {
    border: 2px solid black;
}
.d-inline-block {
    height: 75px;
    width: 75px;
    border: 2px solid black;
}
.navbar-brand {
    font-family: fantasy;
    font-size: 50px;
}
.heyo {
    height: 50px;
    width: 50px;
    background: white;
    text-align: center;
    margin: 5px;
    line-height: 50px;
}